﻿<div ng-app="okpayapp">
    <div ng-controller="ExchangeController">

        <div class="container exchange_container" ng-init="from='@ViewBag.From'; to='@ViewBag.To'; init();">

            <div class="row">
                <div class="col-md-2">
                    <ul class="list-group">
                        <li class="list-group-item"
                            ng-repeat="currency in currencyList"
                            ng-click="fromClick(currency)"
                            ng-class="{active: currency.UrlFriendlyName==from}">
                            {{currency.Name}}
                        </li>
                    </ul>
                </div>

                <div class="col-md-2">
                    <ul class="list-group">
                        <li class="list-group-item"
                            ng-repeat="currency in currencyList"
                            ng-click="toClick(currency)"
                            ng-class="{active: currency.UrlFriendlyName==to}">{{currency.Name}}</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="list-group">
                        <div class="list-group-item" ng-repeat="changer in changerList">
                            <h4 class="list-group-item-heading">{{changer.Name}}</h4>
                            <p class="list-group-item-text">{{changer.Description}}</p>
                        </div>
                        
                    </div>
                </div>
            </div>








        </div>

      
   

    
</div>
</div>